body {
    background-image: url('https://images.pexels.com/photos/33806609/pexels-photo-33806609.jpeg?_gl=1*9oc87c*_ga*NjY1ODgwODQ0LjE3NzgxMDY1Mjc.*_ga_8JE65Q40S6*czE3NzgxMDY1MjckbzEkZzEkdDE3NzgxMDY1MjgkajU5JGwwJGgw');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', sans-serif;
}
